<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
  <add name="conectar" connectionString="Data source=(local); Initial Catalog=Inventario;Integrated Security=True" />
  <add name="capa_presentacion.Properties.Settings.DBucraniaConnectionString"
   connectionString="Data Source=DESKTOP-J4MU57F;Initial Catalog=DBucrania;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>